policy_module(GameBit, 1.100.1)

########################################
#
# Declarations
#

type GameBit_t;
type GameBit_exec_t;
init_daemon_domain(GameBit_t, GameBit_exec_t)

permissive GameBit_t;

type GameBit_initrc_exec_t;
init_script_file(GameBit_initrc_exec_t)

type GameBit_conf_t;
files_type(GameBit_conf_t)

type GameBit_var_lib_t;
files_type(GameBit_var_lib_t)

type GameBit_var_run_t;
files_type(GameBit_var_run_t)

type GameBit_port_t;
corenet_port(GameBit_port_t)

########################################
#
# GameBit local policy
#
allow GameBit_t self:process { fork };

allow GameBit_t self:fifo_file rw_fifo_file_perms;
allow GameBit_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(GameBit_t, GameBit_conf_t, GameBit_conf_t)
manage_files_pattern(GameBit_t, GameBit_conf_t, GameBit_conf_t)

manage_dirs_pattern(GameBit_t, GameBit_var_lib_t, GameBit_var_lib_t)
manage_files_pattern(GameBit_t, GameBit_var_lib_t, GameBit_var_lib_t)
files_var_lib_filetrans(GameBit_t, GameBit_var_lib_t, { dir file })

manage_dirs_pattern(GameBit_t, GameBit_var_run_t, GameBit_var_run_t)
manage_files_pattern(GameBit_t, GameBit_var_run_t, GameBit_var_run_t)

sysnet_dns_name_resolve(GameBit_t)
corenet_all_recvfrom_unlabeled(GameBit_t)

allow GameBit_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(GameBit_t)
corenet_tcp_sendrecv_generic_node(GameBit_t)
corenet_tcp_sendrecv_all_ports(GameBit_t)
corenet_tcp_bind_generic_node(GameBit_t)

gen_require(`
    type GameBit_port_t;
')
allow GameBit_t GameBit_port_t:tcp_socket name_bind;

gen_require(`
    type GameBit_port_t;
')
allow GameBit_t GameBit_port_t:tcp_socket name_connect;

domain_use_interactive_fds(GameBit_t)

files_read_etc_files(GameBit_t)

miscfiles_read_localization(GameBit_t)

sysnet_dns_name_resolve(GameBit_t)

allow GameBit_t GameBit_exec_t:file execute_no_trans;
allow GameBit_t self:process setsched;
corecmd_exec_ls(GameBit_t)
corenet_tcp_connect_http_port(GameBit_t)
dev_read_urand(GameBit_t)
fs_getattr_xattr_fs(GameBit_t)
kernel_read_system_state(GameBit_t)
